@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply border-black border fixed top-0 w-full z-50 backdrop-blur-xl;
}

.nav-items-responsive {
  @apply flex justify-between items-center;
}

.font-vt323 {
  font-family: "VT323";
}

.nav-link {
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0; /* Adjust the position as needed */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff; /* Arrow color */
  opacity: 0; /* Initially hide the arrow */
}
.nav-link:hover::before {
  opacity: 1;
}
